<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/index">SAHARD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn;">
          <a class="nav-link" routerLink="/perfil" id="cerrarSesion">Mi perfil</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn; else loginLink">
          <a class="nav-link"  (click)="logout()" id="cerrarSesion">Cerrar Sesión</a>
        </li>
        <ng-template #loginLink>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" id="ingresar">Ingresar</a>
          </li>
        </ng-template>
      </ul>

      <i class="fa-solid fa-cart-shopping" id="verCarrito" data-bs-toggle="modal" data-bs-target="#carritoModal"
        id="carrito">Carrito</i>
    </div>
  </div>
</nav>